<!-- <footer class="footer"> -->
  <div class="container">
  <!-- FOOTER -->
   <link rel="stylesheet" href="../css/footer.css" />
  <footer class="footer">

    <!-- Socials -->
    <div class="footer-socials">
      <p>◎ @Oro_Noir.official</p>
      <p>f @Oro_Noir.official</p>
      <p>X @Oro_Noir.official</p>
    </div>

    <!-- Center -->
    <div class="footer-center">
      <h2>ORO NOIR</h2>
      <p>© 2026 All rights reserved. Reservations recommended.</p>
    </div>

    <!-- Description -->
    <div class="footer-text">
      <p>
        Indulge in an experience where every detail is crafted with intention.
        From the finest seasonal ingredients to the warm glow of our dining room,
        we invite you to linger, savor, and return.
      </p>

      <p>
        Join us for an evening of refined taste, thoughtful service,
        and timeless elegance.
      </p>
    </div>

  </footer>
  </div>
<!-- </footer> -->
