<!-- <header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
       
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-home}" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-gallery}" href="./page-gallery.html">Gallery</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {=$highlight-reservation}" href="./page-reservation.html">Reservation</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {=$highlight-menu}" href="./page-menu.html">Menu</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {=$highlight-contact}" href="./page-contact.html">Contact</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {=$highlight-about}" href="./page-about.html">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->

  <!-- individual header  -->
  <link rel="stylesheet" href="../css/header.css" />
  <header class="navbar">
    <div class="logo">ORO NOIR</div>

    <!-- Desktop Navigation -->
    <nav class="nav-links" id="navMenu">
      <a href="../index.html">HOME</a>
      <a href="../page-menu.html">MENU</a>
      <a href="../page-gallery.html">GALLERY</a>
      <a href="../page-about.html">ABOUT US</a>
      <a href="../page-reservation.html">RESERVATION</a>
      <a href="../page-contact.html">CONTACT US</a>
    </nav>

    <!-- Mobile Hamburger -->
    <div class="hamburger" id= "hamburger">
      ☰
    </div>
  </header>

  <!-- HERO SECTION -->
  <section class="hero">
    <div class="hero-overlay">
      <h1></h1>
    </div>
  </section>
