/* ===== BASE STYLES ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Cormorant Upright", serif; 
     color: white;
    background-image: url("../img/images/bg_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    min-height: 100vh;
     display: flex;
     flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    padding: 1rem;
    text-align: center;
}

/* Optional reusable colors */
:root {
    --main-text: #DCCA87;
    --secondary-text: #ffffff;
    --accent-text: #5F5F5F;
    --input-container: #F4E7B5;
    --meta_container: #0C0B08;
}

h1{
     font-size: 64px;
  font-weight: bold;
  margin-bottom: 15px;
   font-family: "Cormorant Upright", serif;
    color: var(--main-text);

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery-section {
  padding: 40px 20px;
  
}

.grid-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;

  /* Center items inside columns */
  justify-items: center;
  align-items: center;
}

/* General block styling */
.block {
  width: 100%;
  max-width: 372px;
}

/* Images */
.block img {
  width: 100%;
  display: block;
  object-fit: cover;
}




/* First square image */
.image-square img {
  aspect-ratio: 1 / 1;
  max-width: 360px;
}

/* Rectangle images */
.image-rect img {
  aspect-ratio: 372 / 200;
}

/* Text block */
.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.text-block h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
   font-family: "Cormorant Upright", serif;
    color: var(--main-text);

}



.text-block p {
  line-height: 1.6;
   font-family: "Cormorant Upright", serif;
    font-size: 24px;
    color: white;
}

/* Mobile */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .block {
    max-width: 100%;
  }

  .image-square img {
    max-width: 100%;
  }
}


@media (min-width: 1768px) {


.grid-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;

  /* Center items inside columns */
  justify-items: center;
  align-items: center;
}  

}


